.dashboard{
   
  width:100%;
  height: 100%;
  
  float: top;
  position:relative;
}
.user-options{
  
  width:15%;
  height: 100%;
  
  float: left;
  position:relative;
  
  background: url("/img/pattern2.jpeg");
  color: white;
}

.user{
  
  width:85%;
  height: 100%;
  
  position: relative;
  margin-left:15%;
  
}

.profile{
 
  width:100%;
  height: 20%;
  
  float:top;
  position:relative;
  background: url("/img/pattern4.png");
  

}
.postnacc{
  
  width:100%;
  height: 80%;
  
  float:top;
  position:relative;
 
}
.posts{
  text-align: center;
  width:80%;
  height: 100%;
  float:left;
  position:relative;
  background: url("/img/pattern5.jpeg");
  
}

.page-mode{
  overflow: hidden;

}
.addpost{
  
  width:70%;
  height: 40%;
  margin-left: 15%;
  float:top;
  position:relative;
}
.previouspost{
  overflow: scroll;
  height: 60%;
  width:70%;
  margin-left: 15%;
  float:top;
  position:relative;
}
.post{
  
  width:80%;
  height:15%;
  margin-left: 10%;
  float:top;
  position:relative;

}
.connect{
  
  width:20%;
  height: 100%;

  margin-left: 80%;
  position:relative;
  background: url("/img/test.gif");
}
.notify{
  width:20%;
  height: 100%;

  margin-left: 80%;
  position:relative;
  background: url("/img/test.gif");
}
.user-friend{
  
  width:100%;
  height: 10%;
  float: top;
  position:relative;
  
}
.user-picture{
  
  width:20%;
  height: 100%;
  margin:0px;
  float:left;
  position:relative;
}
.user-details{
  
  width:60%;
  height: 100%;
  margin:0px;
  float:left;
  position:relative;
}
.notification {
  background-color: rgb(111, 141, 241);
  color: white;
  text-decoration: none;
  padding: 5px 20px;
  position: relative;
  display: inline-block;
  border-radius: 20px;
  float:right;
}

.notification:hover {
  background: rgb(236, 147, 147);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}