<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UserHomePage</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet"-->
    <!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"-->
    <!--          crossorigin="anonymous">-->


    <meta charset="UTF-8">
    <title> ReHabit - Change your habits!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dash.css">

    <style>

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	 position:absolute;
}

.head {
	positon: fixed;
	height: 50px;
}

ul {
	display: grid;
	width: 500px;
}

.eachPost {
	border: 2px solid black;
	margin-top: 15px;
	box-shadow: 2px;
	border-radius: 2px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
	width: 300px;
	height:600px
	margin-left: 200px;
}

.post-title {
	text-align: center;
	font-weight: bold;
	display: block ruby;
}

.post-description {
	color: black;
	height: auto;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-row-gap: 40px;
	justify-items: center;
	justify-content: center;
	align-items: stretch;
	align-content: center;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	margin-right: 200px;
	height: auto;


}
.postD {
    overflow: auto;
}

.eachpost {
    overflow: scroll;
}

h3 {
	font-style: helvatic;
	padding-left: 5px;
	padding-top: 20px;
}
</style>

</head>

<body>


<div id="page-wrap">

    <div id="fh5co-hero-wrapper">

        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/Rehabit">ReHabit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-items-center ml-auto mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Rehabit/dashboard">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rehabit/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rehabit/signout">Signout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <div class="social-icons-header">
                    <a href="https://www.facebook.com/fh5co"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://freehtml5.co"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com/fh5co"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </nav>


        <section class="bg-light">
            <h3>Post Habit Tracker</h3>
            <main>
                <span th:if="${message != null}" th:text="${message}"></span>

                <div class="eachPost mb-2 ml-10 text-black rounded" th:each = "post : ${posts}" >

                    <p class="post-title p-3 bg-dark text-white ">
                        <span th:text="${post.user.userName}"></span>
                        <span th:text="${post.title}"></span>
                        <span class="text-muted mb-3" th:text="${post.createTime}"></span>
                    </p>
                    <div class="postD"></div>
                    <p class="post-description p-3 ">
<!--						<span>-->
<!--							Number of times repeated - <small class="mb-3" th:text="${post.habitCount}"> </small>-->
<!--						</span>-->
                    </p>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>notify time</th>
                            <th>response</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="trackHabit : ${post.trackHabitList}">
                            <td th:text="${trackHabit.notifyTime}"></td>
                            <td th:text="${trackHabit.response}"></td>
                        </tr>
                        <tr>
                            <form th:action="@{|/Rehabit/addTrackHabit/${post.id}|}" th:method="POST">
                                <!--								<input type="text" th:field="${trackHabit.response}" />-->
                                <th:block th:object="${trackHabit}">
                                    <label >select today's status</label>

                                    <select name="response">
                                        <option value="YES" >YES</option>
                                        <option value="NO" >NO</option>
                                    </select>
                                </th:block>
                                <input type="submit" value="Submit Respone"/>
                            </form>

                        </tr>
                        </tbody>
                    </table>
                </div>


            </main>

        </section>
    </div>
</div>

</body>

</html>