<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> ReHabit - Change your habits!</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/css/bootstrap.css">
	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/css/owl.carousel.css">
	<link rel="stylesheet" href="/css/owl.theme.default.min.css">
	<!-- Animate.css -->
	<link rel="stylesheet" href="/css/animate.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>


<div id="page-wrap">


	<!-- ==========================================================================================================
													   HERO
		 ========================================================================================================== -->

	<div id="fh5co-hero-wrapper" >
		<nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
			<a class="navbar-brand" href="/Rehabit">ReHabit</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-items-center ml-auto mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/Rehabit">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./signup">Signup</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" >About</a>
					</li>
				</ul>
				<div class="social-icons-header">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
				</div>
			</div>
		</nav>
		<div class="loginleft" >
			
		</div>
		<div id="login" class="login"  >
			<form class="border border-light p-5" th:action="@{/authenticateTheUser}" th:method="POST">

				<p class="h4 mb-4 text-center">Sign in</p>

				<div class="form-group">
					<div class="col-xs-15">
						<!-- Check for login error -->
						<div th:if="${param.error}" class="alert alert-danger col-xs-offset-1 col-xs-10">
							Invalid username or password.
						</div>
					</div>
				</div>

				<p	style="color: red;" th:text=${notMatch}> </p>
				<label for="defaultLoginFormEmail" >Username</label>
				<input type="text" name="username" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Username" autocomplete="off" th:value=${emailValue}>
				<p	style="color: red;" th:text=${emailError}> </p>
			
				<label for="defaultLoginFormPassword"  class="">Password</label>
				<input  name="password" type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
				<p	style="color: red;" th:text=${passError}> </p>

				<div class="d-flex justify-content-between">
					<div>
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="defaultLoginFormRemember">
							<label class="custom-control-label" for="defaultLoginFormRemember">Remember me</label>
						</div>
					</div>
					<div>
						<a href="">Forgot password?</a>
					</div>
				</div>
			
				<button class="btn btn-info btn-block my-4" type="submit">Sign in</button>
			
				<div class="text-center">
					<p>Not a member?
						<a href="./signup">Register</a>
					</p>
			
					<p>or sign in with:</p>
					<a type="button" class="light-blue-text mx-2">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a type="button" class="light-blue-text mx-2">
						<i class="fab fa-twitter"></i>
					</a>
					<a type="button" class="light-blue-text mx-2">
						<i class="fab fa-linkedin-in"></i>
					</a>
					<a type="button" class="light-blue-text mx-2">
						<i class="fab fa-github"></i>
					</a>
				</div>
			</form>
			
	
	</div>

	
		
</div>

	
	
	
	 <!-- first section wrapper -->


	<!-- ==========================================================================================================
													 ADVANTAGES
		 ========================================================================================================== -->

	


	<!-- ==========================================================================================================
													  SLIDER
		 ========================================================================================================== -->

	


	<!-- ==========================================================================================================
													  FEATURES
		 ========================================================================================================== -->

	</div>


	<!-- ==========================================================================================================
													  REVIEWS
		 ========================================================================================================== -->

	
	

	<!-- ==========================================================================================================
                                                 BOTTOM
    ========================================================================================================== -->

	


	<!-- ==========================================================================================================
                                               SECTION 7 - SUB FOOTER
    ========================================================================================================== -->

	<footer class="footer-outer">
		<div class="container footer-inner">

			<div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
				<div class="column-1-3">
					<h1>ReHabit</h1>
				</div>
				<div class="column-2-3">
					<nav class="footer-nav">
						<ul>
							<a href="/Rehabit" onclick="$('#fh5co-hero-wrapper').goTo();return false;"><li>Home</li></a>
							<a href="./login" onclick="$('#fh5co-features').goTo();return false;"><li>Login</li></a>
							<a href="./signup" onclick="$('#fh5co-reviews').goTo();return false;"><li>Signup</li></a>
							<a href="#" onclick="$('#fh5co-download').goTo();return false;"><li class="active">About</li></a>
						</ul>
					</nav>
				</div>
				<div class="column-3-3">
					<div class="social-icons-footer">
						<a href=""><i class="fab fa-facebook-f"></i></a>
						<a href=""><i class="fab fa-instagram"></i></a>
						<a href=""><i class="fab fa-twitter"></i></a>
					</div>
				</div>
			</div>

			<span class="border-bottom-footer"></span>

			<p class="copyright">&copy; 2020 ReHabit. All rights reserved. Design by <a href="" target="_blank">VikingZorros</a>.</p>

		</div>
	</footer>




</div> <!-- main page wrapper -->
	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/owl.carousel.js"></script>
	<script src="/js/wow.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>