<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>UserHomePage</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet"-->
    <!--          href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"-->
    <!--          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"-->
    <!--          crossorigin="anonymous">-->


    <meta charset="UTF-8">
    <title> ReHabit - Change your habits!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <!-- Facebook and Twitter integration -->
    <meta property="og:title" content="" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta name="twitter:title" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:url" content="" />
    <meta name="twitter:card" content="" />

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Owl Carousel  -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <!-- Animate.css -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <!-- Theme style  -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dash.css">

    <style>

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	 position:absolute;
}

.head {
	positon: fixed;
	height: 50px;
}


h3 {
	font-style: helvatic;
	padding-left: 5px;
	padding-top: 20px;
}

.user-details {
    width: 100%;
    float:none;
    text-align: center;
}

.user-details ul {
    text-align: center;
}
.user-menu {
    text-align: center;
    padding-right: 220px;
}

</style>

</head>

<body>


<div id="page-wrap">

    <div id="fh5co-hero-wrapper">

        <nav class="container navbar navbar-expand-lg main-navbar-nav navbar-light">
            <a class="navbar-brand" href="/Rehabit">ReHabit</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav nav-items-center ml-auto mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Rehabit/dashboard">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rehabit/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Rehabit/signout">Signout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
                <div class="social-icons-header">
                    <a href="https://www.facebook.com/fh5co"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://freehtml5.co"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.twitter.com/fh5co"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </nav>


        <section class="bg-light">



            <hr>
            <div class="user-details mt-3">
                <!--        <h4 id="userName" th:text="${user.userName}"></h4>-->
                <ul>
                    <li>Name: <span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></li>
                    <li>Email: <span th:text="${user.email}"></span> </li>
                    <li>Phone Number: <span th:text="${user.phoneNumber}"></span></li>
                    <li>Joined: 4 days ago</li>
                </ul>
            </div>



        </section>
    </div>
</div>

</body>

</html>